[project]
name = "svuvm"
version = "0.1.0"
description = "Hardware verification framework enabling Python to call SystemVerilog UVM APIs for writing test cases and dynamically configuring verification environments"
authors = [
    { name = "Dragon-Git", email = "1762578117@qq.com" }
]
dependencies = []
readme = "README.md"
requires-python = ">= 3.9"

[project.optional-dependencies]
lint = ['ruff']
doc = ['sphinx']
test = ['pytest', 'coverage', 'pytest-cov']
dev = ['svuvm[lint, doc, test]']

[build-system]
requires = [
    "setuptools>=42",
    "pybind11>=2.10.0",
    "pyslang>=8.0.0",
]
build-backend = "setuptools.build_meta"

[tool.ruff]
line-length = 120

[tool.ruff.lint.pydocstyle]
    convention = "google"
